@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('./main-block/header.css');
@import url('./main-block/footer.css');

*{
    padding: 0;
    margin: 0;
}

body{
    scroll-behavior: smooth;
    box-sizing: border-box;
    background-color: #010001;
    padding: 55px 0 135px;
    display: grid;
    justify-items: center;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

img{
    width: 100%;
}

.content{
    max-width: 1230px;
    width: 100%;
}

main{
    display: grid;
    justify-items: center;

    .title{
        font-size: 64px;
        margin-bottom: 26px;
    }

    .text{
        max-width: 268px;
        width: 100%;
        margin-bottom: 150px;
        font-size: 16px;
        font-weight: 300;
        line-height: 140%;
        text-transform: lowercase;
    }

    img{
        max-width: 770px;
        margin-bottom: 50px;
    }

    .context{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 400px;
        align-items: center;

        &__info{
            
            h3{
                margin-bottom: 45px;
                max-width: 177px;
                width: 100%;
                font-size: 24px;
                font-weight: 700;
                line-height: 140%;
                text-transform: uppercase;
            }

            ul{
                list-style: none;
                margin-bottom: 218px;

                li{
                    margin-bottom: 11px;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 20px;

                    p{
                        font-weight: 400;
                        line-height: 179.688%;
                        
                        span{
                            color: #B2B0B2;
                            line-height: 179.688%;
                        }
                    }
                }
            }
            
            p{
                font-size: 16px;
                line-height: 179.688%;
            }
        }

        img{
            max-width: 200px;
        }
    }
}